<HEADER>
    <TITLE>The World Wide Web project</TITLE>
    <NEXTID N="55">
</HEADER>

<BODY>
    {%include "base.html"%}

    <br><br>
    <H1>World Wide Web</H1>The WorldWideWeb (W3) is a wide-area<A NAME=0 HREF="#">hypermedia</A> information retrieval
    initiative aiming to give universal
    access to a large universe of documents.<P>
        Everything there is online about
        W3 is linked directly or indirectly
        to this document, including an <A NAME=24 HREF="#">executive
            summary</A> of the project, <A NAME=29 HREF="#">Mailing lists</A>
        , <A NAME=30 HREF="#">Policy</A> , November's <A NAME=34 HREF="#">W3 news</A> ,
        <A NAME=41 HREF="#">Frequently Asked Questions</A> .
    <DL>
        <DT><A NAME=44 HREF="#">What's out there?</A>
        <DD> Pointers to the
            world's online information,<A NAME=45 HREF="#"> subjects</A>
            , <A NAME=z54 HREF="#">W3 servers</A>, etc.
        <DT><A NAME=46 HREF="#">Help</A>
        <DD> on the browser you are using
            <!-- The Password is : {{ password[level] }} -->
        <DT><A NAME=13 HREF="#">Software Products</A>
        <DD> A list of W3 project
            components and their current state.
            (e.g. <A NAME=27 HREF="#">Line Mode</A> ,X11 <A NAME=35 HREF="#">Viola</A>
            , <A NAME=26 HREF="#">NeXTStep</A>
            , <A NAME=25 HREF="#">Servers</A> , <A NAME=51 HREF="#">Tools</A> ,<A NAME=53 HREF="#"> Mail robot</A> ,<A
                NAME=52 HREF="#">Library</A> )
        <DT><A NAME=47 HREF="#">Technical</A>
        <DD> Details of protocols, formats,
            program internals etc
        <DT><A NAME=40 HREF="#">Bibliography</A>
        <DD> Paper documentation
            on W3 and references.
        <DT><A NAME=14 HREF="#">People</A>
        <DD> A list of some people involved
            in the project.
        <DT><A NAME=15 HREF="#">History</A>
        <DD> A summary of the history
            of the project.
        <DT><A NAME=37 HREF="#">How can I help</A> ?
        <DD> If you would like
            to support the web..
        <DT><A NAME=48 HREF="#">Getting code</A>
        <DD> Getting the code by<A NAME=49 HREF="#">anonymous FTP</A> , etc.</A>
    </DL>
</BODY>